html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        script(src="https://cdn.tailwindcss.com") 
        script(src="/js/public.js") 
        link(rel="stylesheet" href="/css/style.css")
        title Kalkylator!
    body.text-xl.bg-green-200.font-bold 
        #background.w-full.h-full.bg-gradient-to-r.from-orange-400.via-yellow-300.to-orange-400
            #starPattern.w-full.h-full
                #overlay.w-full.h-full           
                    .w-full.h-20.mb-4.drop-shadow-lg(class="bg-gradient-to-r from-cyan-200 to-blue-500")
                        img(src="/assets/helen.png" alt="").mx-auto
                    .ml-6 
                        input(type="button" value="€" class="hover:bg-blue-200 duration-300").border-2.border-slate-800.w-10.h-10.m-1.text-center#euroBtn.cursor-pointer.rounded-md.text-2xl.bg-white.input
                        input(type="button" value="$" class="hover:bg-blue-200 duration-300").border-2.border-slate-800.w-10.h-10.m-1.text-center#usdBtn.cursor-pointer.rounded-md.text-2xl.bg-white.input
                    form(action="/" method="get").hidden#euroForm.ml-7.my-1
                        input(type="text" name="euroInput" id="euroInput" placeholder="€").border-2.border-slate-800.rounded-md.p-1.drop-shadow-lg.input
                        button(type="submit" id="calculateButton" class="hover:bg-blue-200 duration-300").border-2.border-slate-800.rounded-md.ml-2.p-1.drop-shadow-lg.bg-white.input Räkna ut!
                    form(action="/" method="get").hidden#usdForm.ml-7.my-1
                        input(type="text" name="usdInput" id="usdInput" placeholder="$").border-2.border-slate-800.rounded-md.p-1.drop-shadow-lg.input
                        button(type="submit" id="calculateButton" class="hover:bg-blue-200 duration-300").border-2.border-slate-800.rounded-md.ml-2.p-1.bg-white.drop-shadow-lg.input Räkna ut!
                    h2.hidden#euroRate.ml-7.content= `${inputEuro}€ =  ${Math.round(inputEuro * euroRate)}kr`
                    h2.hidden#usdRate.ml-7.content= `${inputUsd}$ =  ${Math.round(inputUsd * usdRate)}kr`
                    h3#inputEuro.hidden.content.input= `${inputEuro}`
                    h3#inputUsd.hidden.content.input=`${inputUsd}`
                    .grid.grid-cols-10.grid-rows-10.mt-4
                        h4#euroSek.border-2.border-slate-800.rounded-md.p-1.drop-shadow-lg.bg-white.my-1.w-24.text-center.hidden.justify-self-end.content.input= `${Math.round(inputEuro * euroRate)} kr`
                        h4#usdSek.border-2.border-slate-800.rounded-md.p-1.drop-shadow-lg.bg-white.my-1.w-24.text-center.hidden.justify-self-end.content.input= `${Math.round(inputUsd * usdRate)} kr`
                        .grid.items-center
                            p.text-center.font-bold.hidden#TB27 TB 27
                        h4#usdTB27.border-2.border-slate-800.rounded-md.p-1.drop-shadow-lg.bg-white.my-1.w-24.text-center.hidden.content.input= `${Math.round((inputUsd * usdRate) / 0.73)} kr`
                        h4#euroTB27.border-2.border-slate-800.rounded-md.p-1.drop-shadow-lg.bg-white.my-1.w-24.text-center.hidden.content.input= `${Math.round((inputEuro * euroRate) / 0.73)} kr`
                        .grid.items-center.row-start-2.col-start-2
                            p.text-center.font-bold#TB30.hidden TB 30
                        h4#usdTB30.border-2.border-slate-800.rounded-md.p-1.drop-shadow-lg.bg-white.my-1.w-24.text-center.row-start-2.col-start-3.hidden.content.input= `${Math.round((inputUsd * usdRate) / 0.70)} kr`
                        h4#euroTB30.border-2.border-slate-800.rounded-md.p-1.drop-shadow-lg.bg-white.my-1.w-24.text-center.row-start-2.col-start-3.hidden.content.input= `${Math.round((inputEuro * euroRate) / 0.70)} kr`
                        .grid.items-center.row-start-3.col-start-2
                            p.text-center.font-bold#TB35.hidden TB 35
                        h4#usdTB35.border-2.border-slate-800.rounded-md.p-1.drop-shadow-lg.bg-white.my-1.w-24.text-center.row-start-3.col-start-3.hidden.content.input= `${Math.round((inputUsd * usdRate) / 0.65)} kr`
                        h4#euroTB35.border-2.border-slate-800.rounded-md.p-1.drop-shadow-lg.bg-white.my-1.w-24.text-center.row-start-3.col-start-3.hidden.content.input= `${Math.round((inputEuro * euroRate) / 0.65)} kr`
                        .grid.items-center.row-start-4.col-start-2
                            p.text-center.font-bold#TB40.hidden TB 40
                        h4#usdTB40.border-2.border-slate-800.rounded-md.p-1.drop-shadow-lg.bg-white.my-1.w-24.text-center.row-start-4.col-start-3.hidden.content.input= `${Math.round((inputUsd * usdRate) / 0.60)} kr`
                        h4#euroTB40.border-2.border-slate-800.rounded-md.p-1.drop-shadow-lg.bg-white.my-1.w-24.text-center.row-start-4.col-start-3.hidden.content.input= `${Math.round((inputEuro * euroRate) / 0.60)} kr`